    .aicon {
        text-decoration: none;
        border-bottom: none;
        position: relative
    }

    .aicon:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: Academicons;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important
    }

    .aicon > .label {
        display: none
    }

    ul.icons li .aicon {
        display: inline-block;
        width: 2.5em;
        height: 2.5em;
        line-height: 2.5em;
        text-align: center
    }

    ul.icons li .aicon:before {
        font-size: 1.25rem
    }